<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="cart-page">
        <h2 class="cart-page-heading">Shopping Cart</h2>

        <div th:insert="~{partials/cart}"></div>

        <div class="text-center cart-login-prompt" th:if="${cart.item != null}" sec:authorize="isAnonymous()">
            <p class="text-muted mb-3">You need to be logged in to place an order.</p>
            <a href="/login" class="btn btn-buy px-4">Login to Place Order</a>
        </div>

        <div th:if="${cart.item != null}" sec:authorize="isAuthenticated()">
            <div th:insert="~{partials/order-form}"></div>
        </div>
    </div>
</div>
</body>
</html>
